/* General */

html, body {
    min-height: 100%;
}

body {
    font-family: "Ubuntu", sans-serif;
    background-color: #eaeaea;
    /* background: url(img/background.jpeg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover; */
}

.card {
    border: 1.2px solid #007bff;
    margin-bottom: 1.4rem;
}

/* Title */

.fa-quote-left {
    padding: 10px;
}

.hr-underline {
    border-top: 1.8px solid #007bff;
    width: 80%;
}

.jumbotron p {
    font-size: 1.4rem;
    letter-spacing: .5px;
}

.jumbotron {
    padding: 1.5rem;
    border: 1.2px solid #007bff;
}

/* Schedule */


/* Add New Train */

#formCard {
    margin-bottom: 3rem;
}



/* MEDIA QUERIES */
@media (min-width: 992px) {
.fa-quote-left {
    margin-left: 1rem;
}
}

@media (min-width: 1200px) {
.fa-quote-left {
    margin-left: 3.6rem;
}
}