/* General */

html, body {
    min-height: 100%;
}

body {
    background: white;
}

.card {
    border: 1.2px solid #007bff;
    margin-bottom: 1.4rem;
}

/* Title */

.fa-quote-left {
    padding: 10px;
}

.hr-underline {
    border-top: 1.8px solid #007bff;
    width: 80%;
}

.jumbotron p {
    font-size: 1.3rem;
    letter-spacing: .5px;
}

.jumbotron {
    padding: 1.5rem;
    border: 1.2px solid #007bff;
}

/* Schedule */


/* Add New Train */

#formCard {
    margin-bottom: 3rem;
}






















/* MEDIA QUERY */
